.alternate {
  
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    @include responsive(medium) {
      flex-direction: column;
    }

    &--inverse {
      @include responsive(medium) {
        flex-direction: column-reverse;
      }
    }
  }


  &__subheading {
    font-size: 2rem;
  }


  &__paragraph {
    
  }

  &__description {
    width: fit-content;
    margin: auto;
  }

  &__img {
    width: 100%;
    background-size: cover;
    display: block;
    border-radius: $border-radius;
    text-align: center;

    @include responsive(medium) {
      width: 80%;
      background-size: cover;
      margin: auto;
    }

  }

  &__date {
    font-size: 1.4rem;
    position: absolute;
    color: $color-gray-light;
    bottom: 0;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }

    @include responsive(medium) {
      position: static;
    }
  }
}