//Colors
$color-primary: #4b6cc1;

$color-blue-1: #3e60d1;

$color-gray-dark: #191a1d;

$color-gray-background: #F9F9FA;

$color-gray-light: #ababab;
$color-gray-light-2: #919191;


// Grid variables

$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 2rem;


//Margin variables
$padding-between-sections: 5rem 3rem;
$padding-between-sections-small: 3rem 2rem;

//Borders

$border-radius: 5px;


//Screen sizes

$bp-largest: 75em;

$bp-large: 62.5em;

$bp-medium: 48rem;

$bp-small: 40.56em;

$bp-smallest: 31em;
